.detail-wrapper {
  display: none;
  position: fixed;
  width: 1000px;
  height: 800px;
  top: 50px;
  left: 450px;
  background-color: var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  background-color: var(--second-color);
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  cursor: pointer;
}

.bg-img {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  overflow: hidden;
  opacity: 30%;
}

.bg-img img {
  position: absolute;
  bottom: 0;
}

.detail-content {
  display: flex;
  height: 100%;
  padding: 100px 12%;
  /* background-color: rgb(250, 250, 250,0.2); */
  position: absolute;
  top: 0;
}

.detail-content .title {
  width: 30%;
}

.title-content {
  /* background-color: rgb(255, 255, 255, 0.8); */
  display: inline-block;
  padding: 1.2px;
}

.detail-content .content {
  width: 70%;
}

.slideshow-container {
  width: 400px;
  height: 375px;
  position: relative;
  margin-bottom: 1em;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 375px;
}

.detail-content .content .vertical-line {
  width: 50px;
  height: 2px;
  background-color: var(--fourth-color);
  margin-bottom: 10px;
}
