/* FOOTER CSS */
footer {
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--fourth-color);
}
.footer-info p {
  font-family: "Cafe24SsurroundAir";
}
.footer a {
  display: inline-block;
  background-color: aqua;
  
}
