header {
  height: 500px;
  background-color: lightgreen;
  text-align: center;
}
nav {
  width: 100%;
  position: fixed;
  display: flex;
  height: 65px;
  padding: 0 150px;
  z-index: 10;
}
.logo {
  width: 500px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
}
.logo img:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}
nav ul {
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}
nav ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 600;
  font-size: 22px;
  padding: 5px 10px;
  font-family: "Cafe24Ssurround";
}
nav ul li a:hover {
  color: var(--fourth-color);
}
.header-img {
  background-color: var(--sixth-color);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
}
