header {
  height: 500px;
  background-color: lightgreen;
  text-align: center;
}
nav {
  display: flex;
  height: 55px;
  background-color: var(--fifth-color);
}
.logo {
  /* background-color: lightblue; */
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
  cursor: pointer;
}
nav ul {
  list-style: none;
  /* background-color: lightpink; */
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 600;
  font-size: 18px;
}
.header-img {
  background-image: url(../images/header-img1.JPG);
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
