.intro {
  display: flex;
  padding: 0 150px;
  background-color: var(--first-color);
}
.aside-wrap {
  padding: 60px 30px 60px 60px;
  /* background-color: lightblue; */
  width: 30%;
}

.aside-wrap .title {
  background-color: var(--fourth-color);
  color: var(--first-color);
  margin-top: 14px;
}

.length,
.time,
.level {
  display: inline-block;
}

.content-wrap {
  /* background-color: lightgoldenrodyellow; */
  width: 70%;
  padding: 60px 60px 60px 30px;
}

.content-wrap .title {
  display: inline-block;
  /* background-color: lime; */
  margin-bottom: 14px;
}

.content-wrap .horizantal-line {
  width: 85px;
  height: 2px;
  background-color: var(--fourth-color);
  margin-bottom: 14px;
}
