.main-course {
  padding: 130px 0;
  background-color: var(--second-color);
}
.wrap-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--sixth-color);
  color: var(--first-color);
}
.start,
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--fifth-color);
}

.course-name,
.start,
.number,
.end {
  font-weight: 600;
  font-family: "Cafe24SsurroundAir";
}

.wrap-content2 {
  display: flex;
}
.left-content {
  width: 50%;
  /* 수정 구간 */
  margin-top: 120px;
}
.vertical-line {
  width: 2px;
  background-color: gray;
}
.right-content {
  width: 50%;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 260px;
}

.list-item span {
  font-family: "Cafe24SsurroundAir";
  font-weight: 600;
}

.left-content .list-item {
  justify-content: flex-end;
  padding-right: 40px;
}
.right-content .list-item {
  padding-left: 40px;
}
.list-item figure {
  width: 300px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  background: lightcoral;
  overflow: hidden;
}
.list-item img {
  width: 300px;
  height: 250px;
  background-color: lightskyblue;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.list-item img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.list-item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--fourth-color);
}
.left-content .list-item .number {
  position: absolute;
  right: -20.5px;
}
.right-content .list-item .number {
  position: absolute;
  left: -20.5px;
}
.wrap-content3 {
  display: flex;
  justify-content: center;
}
