.main-course {
  padding: 60px 0;
  background-color: var(--second-color);
}
.wrap-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--sixth-color);
  /* color: var(--first-color); */
}
.start,
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--fifth-color);
  /* color: var(--first-color); */
}

.course-name,
.start,
.number,
.end {
  font-weight: 600;
}

.wrap-content2 {
  display: flex;
}
.left-content {
  width: 50%;
  /* background-color: lightgreen; */
  /* 수정 구간 */
  margin-top: 120px;
}
.vertical-line {
  width: 2px;
  background-color: gray;
}
.right-content {
  width: 50%;
  /* background-color: lightpink; */
}

.list-item {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  position: relative;
  min-height: 260px;
}
.left-content .list-item {
  justify-content: flex-end;
  padding-right: 40px;
}
.right-content .list-item {
  padding-left: 40px;
}
.list-item img {
  width: 300px;
  height: 250px;
  background-color: lightskyblue;
  margin: 10px;
}
.list-item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--fourth-color);
  /* color: var(--first-color); */
}
.left-content .list-item .number {
  position: absolute;
  right: -20.5px;
}
.right-content .list-item .number {
  position: absolute;
  left: -20.5px;
}
.wrap-content3 {
  display: flex;
  justify-content: center;
}
