/* @import url("reset.css"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("header.css");
@import url("intro.css");
@import url("main-course.css");
@import url("recom.css");
@import url("footer.css");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #eee;
}
