/* FONTS URL */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --first-color: #ffffff;
  --second-color: #fafafa;
  --third-color: #f5f5f5;
  --gray-color: #9e9e9e;
  --black-color: #212121;

  --fourth-color: #ffd365;
  --fifth-color: #00c897;
  --sixth-color: #019267;
}
h1,
h2 {
  font-family: "Cafe24Ssurround";
}
h3 {
  font-family: "Cafe24SsurroundAir";
}

p {
  line-height: 1.7;
}

/* HEADER CSS */
header {
  width: 100%;
  height: 500px;
  background-color: palegreen;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  height: 65px;
  padding: 0 150px;
  z-index: 10;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
}
.logo img:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}
nav ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 600;
  font-size: 22px;
  padding: 5px 10px;
  font-family: "Cafe24Ssurround";
}
nav ul li a:hover {
  color: var(--fourth-color);
}

.header-img {
  background-color: var(--sixth-color);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  position: relative;
}

.header-img img {
  width: 33.3vmax;
}

#shoe-print-left {
  width: 70px;
  position: absolute;
  transform: translateX(600px) rotate(20deg);
  animation: shoeMoving 1s;
  transition: 0.1s linear;
}
#shoe-print-right {
  width: 70px;
  position: absolute;
  transform: translateX(450px) translateY(50px) rotate(30deg);
  animation: shoeMoving 1s;
  transition: 0.1s linear;
}
#shoe-print-left2 {
  width: 85px;
  position: absolute;
  transform: translateX(500px) translateY(150px) rotate(40deg);
  animation: shoeMoving 1s;
  transition: 0.1s linear;
}
#shoe-print-right2 {
  width: 85px;
  position: absolute;
  transform: translateX(350px) translateY(200px) rotate(50deg);
  animation: shoeMoving 1s;
  transition: 0.1s linear;
}

@keyframes shoeMoving {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 코스소개 section CSS */
.intro {
  display: flex;
  background-color: var(--first-color);
}

.aside-wrap {
  padding: 130px 30px 130px 10%;
  width: 30%;
}
.aside-wrap .title {
  /* background-color: var(--fourth-color); */
  /* border-radius: 4px; */
  margin-top: 14px;
  font-family: "Cafe24SsurroundAir";
  padding-bottom: 3.5px;
  border-bottom: 3px solid var(--fourth-color);
}
.length,
.time,
.level {
  display: inline-block;
}
.aside-wrap p {
  padding: 7px;
}
.aside-wrap span {
  padding: 0px 7px;
}

.content-wrap {
  width: 70%;
  padding: 185.5px 10% 130px 30px;
}
.title-wrapper {
  border-bottom: 3px solid var(--fourth-color);
  margin-bottom: 14px;
}
.content-wrap .title {
  display: inline-block;
  margin-bottom: 3.5px;
}
/* .content-wrap .horizantal-line {
  width: 85px;
  height: 2px;
  background-color: var(--fourth-color);
  margin-bottom: 14px;
} */
.content-wrap p {
  margin-bottom: 14px;
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.customoverlay {
  position: relative;
  bottom: 29px;
  border-radius: 6px;
  float: left;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: var(--first-color);
  margin-right: 35px;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 1px 2px #888;
  border-radius: 6px;
  transition: 0.1s ease-in-out;
}
.customoverlay .title:hover {
  color: #d95050;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -7px;
  width: 10px;
  height: 10px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

/* 주요코스 section CSS */
.main-course {
  width: 100%;
  padding: 130px 0;
  background-color: var(--second-color);
}

.wrap-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 12px;
  background-color: var(--sixth-color);
  color: var(--first-color);
}
.start,
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--fifth-color);
}
.course-name,
.start,
.number,
.end {
  font-weight: 600;
  font-family: "Cafe24SsurroundAir";
}

.vertical-line {
  width: 4px;
  height: 0px;
  background-color: rgb(1, 146, 103, 0.8);
  transition: 0.5s linear;
}

.wrap-content2 {
  display: flex;
}
.left-content {
  width: 50%;
  /* 수정 구간 */
  margin-top: 120px;
}

.right-content {
  width: 50%;
}
.list-item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 260px;
}
.list-item span {
  font-family: "Cafe24SsurroundAir";
  font-weight: 600;
}
.list-item span:hover {
  transform: scale(1.1);
  transition: 0.1s ease;
  color: var(--sixth-color);
}

.left-content .list-item {
  justify-content: flex-end;
  padding-right: 40px;
}
.right-content .list-item {
  padding-left: 40px;
}
.list-item figure {
  width: 300px;
  height: 250px;
  margin: 10px 20px;
  border-radius: 10px;
  background: palegreen;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.list-item img {
  width: 300px;
  height: 250px;
  background-color: palegreen;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.list-item img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.list-item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--fourth-color);
}
.list-item .number:hover {
  transform: scale(1.2);
  transition: 0.1s ease;
}

.left-content .list-item .number {
  position: absolute;
  right: -21.5px;
}
.right-content .list-item .number {
  position: absolute;
  left: -21.5px;
}

.wrap-content3 {
  display: flex;
  justify-content: center;
}

#runner {
  position: absolute;
  transform: translateY(120px);
  animation: running;
}

/* 추천스팟 section CSS */
.recom {
  width: 100%;
  padding: 130px 0;
  background-color: var(--third-color);
  text-align: center;
}
.recom-images {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  padding: 5%;
  place-items: center center;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(275px, 1fr));
}

.recom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.recom-image .click-img {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 150px;
  z-index: 1;
  transition: 0.4s;
  opacity: 0;
}

.recom-image h3 {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 100px;
  background-color: var(--fourth-color);
  padding: 3.5px 7px;
  font-family: "Cafe24SsurroundAir";
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  opacity: 0;
  transition: 0.4s;
  padding: 7px;
  border-radius: 4px;
}

.recom-image-bg {
  width: 300px;
  height: 275px;
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.recom-image:hover > * {
  opacity: 1;
}

.recom-images img {
  width: 300px;
  height: 275px;
  background-color: palegreen;
  cursor: pointer;
  border-radius: 10px;
}

.replace-image {
  border-radius: 10px;
  width: 300px;
  height: 275px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset;
}
.fa-tree {
  font-size: 60px;
  color: var(--sixth-color);
}
.fa-plus {
  font-size: 60px;
  color: var(--sixth-color);
}

/* 추천스팟 상세내용(모달창) CSS */
.detail {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: rgb(33, 33, 33, 0.8);
  z-index: 20;
}
.detail-wrapper {
  position: fixed;
  width: 80%;
  height: 90%;
  top: 5%;
  left: 10%;
  background-color: var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 3px;
  overflow: auto;
}

.bg-img {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  overflow: hidden;
  opacity: 30%;
}
.bg-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.detail-content {
  width: 100%;
  display: flex;
  padding: 5% 10%;
  position: absolute;
  top: 0;
}
.detail-content .title {
  padding: 5%;
  width: 30%;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5%;
  background-color: var(--fourth-color);
  border-radius: 100%;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.close-btn:hover {
  transform: scale(1.1);
  transition: 0.15s ease-in-out;
}
.title-content {
  display: inline-block;
}
#title1 {
  margin-bottom: 8px;
}

.detail-content .content {
  width: 70%;
  height: 100%;
  padding: 5%;
}
.slideshow-container {
  max-width: 450px;
  height: 375px;
  position: relative;
  margin-bottom: 30px;
}
.prev,
.next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  padding: 18px;
  margin-top: -22px;
  color: white;
  font-weight: bolder;
  font-size: 22px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgb(0, 0, 0, 0.8);
}
.prev {
  left: 0;
  border-radius: 0 100% 100% 0;
}
.next {
  right: 0;
  border-radius: 100% 0 0 100%;
}
.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0, 1);
}
.detail-img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.detail-content .content .vertical-line {
  width: 50px;
  height: 2px;
  background-color: var(--fourth-color);
  margin-bottom: 30px;
}

/* FOOTER CSS */
footer {
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--fourth-color);
}
.footer-info p {
  font-family: "Cafe24SsurroundAir";
}
